/* Variables */
$font-stack: 'Helvetica Neue', Arial, sans-serif;
$primary-color: #3b6978; /* Deep, modern blue-gray */
$secondary-color: #84a9ac; /* Light, soothing blue-gray */
$text-color: #333;
$background-color: #eceff4; /* Light, neutral background */
$border-color: #dfe3e8; /* Soft border */
$light-gray: #dfe3e8;
$shadow-color: rgba(0, 0, 0, 0.1);

/* General Styles */
body {
  font-family: $font-stack;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: $text-color;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 32px;
  color: $text-color;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px $shadow-color;

  &:hover {
    background-color: $secondary-color;
    transform: translateY(-2px);
  }
}

/* Posts List */
.posts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px $shadow-color;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid $border-color;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  /* Post Type Styles */
  &.standard-post {
    .post-content {
      text-align: center;

      .post-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        border: 1px solid $border-color;
      }

      .post-title {
        font-size: 28px;
        margin: 15px 0;
        color: $text-color;
      }

      p {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
      }
    }
  }

  &.storytelling-post {
    .post-content {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 8px;
      font-size: 1.2rem;
      line-height: 1.6;
      
      .post-title {
        font-size: 28px;
        margin-bottom: 15px;
        color: $text-color;
      }

      p {
        font-size: 18px;
        color: $text-color;
        white-space: pre-wrap; /* Preserve formatting */
      }
    }
  }

  &.gallery-post {
    .post-content {
      .gallery-image {
        max-width: calc(33.333% - 10px);
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      .gallery-preview {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Space between collaborators */

        .gallery-image {
          flex: 1;
          margin-bottom: 10px;
        }
      }

      .post-title {
        font-size: 28px;
        margin-bottom: 15px;
        color: $text-color;
      }

      p {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
      }
    }
  }

  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Increased margin for separation */
    border-bottom: 1px solid $border-color; /* Separator line */

    .profile-index-pic {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-right: 15px;
      border: 2px solid $light-gray;
    }

    .user-info {
      flex-grow: 1;

      .username {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: $primary-color;
        transition: color 0.3s ease;

        &:hover {
          text-decoration: underline;
          color: $secondary-color;
        }
      }
    }

    .post-collaborators {
      margin-left: auto;

      strong {
        font-weight: bold;
        color: $text-color;
      }

      .collaborators-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Space between collaborators */

        li {
          font-size: 16px;
          color: $primary-color;

          .collaborator-link {
            text-decoration: none;
            color: $primary-color;
            transition: color 0.3s ease;

            &:hover {
              text-decoration: underline;
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  .post-content {
    margin-top: 15px;

    .post-image {
      max-width: 100%;
      border-radius: 10px;
      margin-bottom: 15px;
      border: 1px solid $border-color;
    }

    .post-title {
      font-size: 28px;
      margin: 15px 0;
      color: $text-color;
    }

    p {
      font-size: 18px;
      color: #555;
      line-height: 1.6;
    }
  }
}

/* Filter Form Styles */
.filter-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .filter-select {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 16px;
    color: $text-color;
    background-color: #fff;
    box-shadow: 0 2px 4px $shadow-color;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $primary-color;
    }
  }

  .filter-style {
    background-color: #f0f4f8; /* Light background for style filter */
  }

  .filter-mood {
    background-color: #e0f7fa; /* Light background for mood filter */
  }

  .button {
    margin: 0;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .post-item {
    padding: 15px;
  }

  .post-title {
    font-size: 24px;
  }

  .button {
    font-size: 16px;
    padding: 10px 18px;
  }
}
