/* All Posts */
.posts-list {
    margin: 20px 0;
  }
  
  .posts-list ul {
    list-style: none;
    padding: 0;
  }
  
  .posts-list li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .posts-list li h4 {
    margin: 0 0 10px;
  }
  
  .posts-list .profile-pic {
    border-radius: 50%;
  }
  /* Single Post */
.single-post {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .single-post h1 {
    margin-bottom: 20px;
  }
  
  .single-post p {
    margin-bottom: 15px;
  }
  