/* User Profile */
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .profile-info h2 {
    margin: 0;
  }
  
  .user-posts {
    margin-top: 20px;
  }
  
  .user-posts ul {
    list-style: none;
    padding: 0;
  }
  
  .user-posts li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-posts li h4 {
    margin: 0 0 10px;
  }
  